@import "./base.css";
@import "https://use.typekit.net/gup3dfs.css";

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}

a {
  /* text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px; */
  color: var(--dark-blue);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--orange);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

h1, h2, h3 {
  font-family: var(--font-family-header);
  font-style: normal;
  color: var(--dark-blue);
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2, h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

h3 {
  color: var(--white);
}

h5 {
  
}

.italic {
  font-style: italic;
  font-weight: bolder;
}
