@import "./base.css";
@import "https://use.typekit.net/gup3dfs.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  /* text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px; */
  color: var(--dark-blue);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #5686D2;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

h1 {
  font-family: var(--font-family-header);
  font-style: normal;
  color: var(--dark-blue);
  font-weight: 100;
  font-size: 64px;
}

.italic {
  font-style: italic;
}
